/* Body / Global */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
body {
    background-color: #f58426;
    color: #0f0708;
}
h1 {
    border-bottom: 2px solid;
    
}
/* Nav Bar */
.navbar a:hover {
    color: #f58426
}
ul {
    background-color: #006bb6;
    margin:0;
    padding:10px;
    border-radius: 10px;
    box-shadow: 5px 4px 10px rgba(0,0,0,0.9);
}
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    margin: 5px    
}
nav ul li a {
    color: white;
    font-weight: bold;
    font-size: 25px;
    
}
/* News + Player of the Day */
.halfCard {
    border: 2px solid black;
    border-radius: 10px;
    background-color: #006bb6;
    display: flex;
    justify-content: space-evenly;
    margin:10px;
    box-shadow: 5px 4px 10px rgba(0,0,0,0.9);  
}
#News {
    width: 50%;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #bec0c2;
    margin: 15px;
    padding: 15px
}
#pod {
     width: 50%;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #bec0c2;
    margin: 15px;
    padding: 15px
}
#pic1 {
    width: 100%;
    height: auto;
    border: 4px solid #f58426;
    border-radius: 10px;
}
/* Embedded Highlights Video */
#highlights {
    border: 2px solid black;
    border-radius: 10px;
    background-color: #bec0c2;
    margin:10px;
    padding: 15px;
}
iframe:hover {
    filter: brightness(1.2);

}
/* Upcoming Games / Shaqtin' a Fool */
#upcomingGames {
    width: 50%;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #bec0c2;
    margin: 15px;
    padding: 5px

}
.tableStyle {
    border-collapse: collapse;   
    width: 50%;                  
    margin: 5px auto;           
    font-size: 20px;
}
.tableStyle th, 
.tableStyle td {
  border: 2px solid black;      
  padding: 10px 15px;          
  text-align: center;            
}
.tableStyle th {
  background-color: #f2f2f2;   
  font-weight: bold;
}
.tableStyle {
    background-color: #f2f2f2;
}
#aFool {
    width: 50%;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #bec0c2;
    margin: 15px;
    padding: 15px
}
     #block {
    display: flex;
    text-align: center;
    width: 285px;
    margin: auto;
}